.env
.env.local
backend/output/
web/node_modules/
web/.next/
web/.turbo/
web/out/
/.venv

/output_images

/.vscode
/dataset

*__pycache__

/code/runs/detect/predict
/code/runs/detect/predict2
/code/runs/detect/predict3
/code/runs/detect/predict4
/code/runs/detect/predict5
/code/runs/detect/train

/code/data